@model BrandViewModel
@{
    ViewBag.Title = "Adding New Brand";
}

<h2 class="h2">New Brand</h2>
<hr />
<form class="row g-3" asp-action="Create" asp-controller="Brands" method="post">
    <div class="col-md-3">
        <label class="form-label" asp-for="Title">Title</label>
        <input class="form-control" type="text" asp-for="Title" />
    </div>
    <div>
        <button class="btn btn-success" type="submit">Create</button>
        <button class="btn btn-danger" type="reset">Reset</button>
        <button class="btn btn-primary" asp-action="Index">Back</button>
    </div>
</form>