@model BrandViewModel
@{ 
    ViewBag.Title = "Adding New Brand";
}

<form asp-action="create" asp-controller="brands" method="post">
    <div>
        <label asp-for="Title">Title</label>
        <input type="text" asp-for="Title" />
    </div>
    <div>
        <input type="submit" value="Create" />
    </div>
</form>