@model BrandViewModel
@{
    ViewBag.Title = "Remove Brand";
}


<h3>Brand</h3>
<dl>
    <dt>Id</dt>
    <dd>@Model.Id</dd>
    <dt>Code</dt>
    <dd>@Model.Title</dd>
</dl>
<form asp-controller="Brands" asp-action="Delete" method="post">
    <div>
        <input class="btn btn-sm btn-danger" type="submit" value="Delete" />
        <button class="btn btn-sm btn-primary" asp-action="Index">Cancel</button>
    </div>
</form>