@model BrandViewModel
@{ 
    ViewBag.Title = "Remove Brand";
}

<div>
    <dl>
        <dt>Id</dt>
        <dd>@Model.Id</dd>
        <dt>Title</dt>
        <dd>@Model.Title</dd>
    </dl>
    <div>
        <form asp-controller="Brands" asp-action="Delete" method="post">
            <div>
                <input type="submit" value="Delete" />
            </div>
        </form>
    </div>
</div>