@model BrandViewModel
@{ 
    ViewBag.Title = "Details";
}
<h3>Car Brand</h3>
<a asp-controller="Brands" asp-action="Index">All Brands</a>
<dl>
    <dt>Id</dt>
    <dd>@Model.Id</dd>
    <dt>Title</dt>
    <dd>@Model.Title</dd>
</dl>