@model BrandViewModel
@{
    ViewBag.Title = "Brand";
}
<div>
    <h2 class="h2">Brand Details</h2>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <td colspan="2"></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Id</td>
                <td>@Model.Id</td>
            </tr>
            <tr>
                <td>Title</td>
                <td>@Model.Title</td>
            </tr>
        </tbody>
        <tfoot> </tfoot>
    </table>
</div>
<a class="btn btn-primary" asp-action="Index">Back</a>