@model BrandViewModel
@{
    ViewBag.Title = "Details";
}

<a class="btn btn-sm btn-primary" asp-action="Index">Back</a>
<h3>Brand</h3>
<dl>
    <dt>Id</dt>
    <dd>@Model.Id</dd>
    <dt>Code</dt>
    <dd>@Model.Title</dd>
</dl>