@model CarViewModel
@{
    ViewBag.Title = "Adding New Car";
}

<h2 class="h2">New Car</h2>
<hr />
<form class="row g-3" asp-action="Create" asp-controller="Cars" method="post">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3">
                <label class="form-label" asp-for="ModelName">Model Name</label>
                <input class="form-control" type="text" asp-for="ModelName" />
            </div>
            <div class="col-md-3">
                <label class="form-label" asp-for="Brand.Id">Brand</label>
                <select class="form-select" asp-for="Brand.Id" asp-items="ViewBag.Brands"></select>
            </div>
        </div>
    </div>
    <div>
        <div class="col-2">
            <label class="form-label" asp-for="LicensePlate">License Plate</label>
            <input class="form-control" type="text" asp-for="LicensePlate" />
        </div>
        <div class="col-2">
            <label class="form-label" asp-for="Color">Color</label>
            <input class="form-control" type="text" asp-for="Color" />
        </div>
        <div class="col-2">
            <label class="form-label" asp-for="Year">Year</label>
            <input class="form-control" type="number" asp-for="Year" />
        </div>
        <div class="col-2">
            <label class="form-label" asp-for="PricePerHour">Price</label>
            <input class="form-control" asp-for="PricePerHour" type="number" />
        </div>
        <div class="col-2">
            <label class="form-label" asp-for="Status">Status</label>
            <select class="form-select" asp-for="Status" asp-items="@new SelectList(Enum.GetNames(typeof(CarStatusViewModel)))"></select>
        </div>
    </div>
    <div class="col-md-12">
        <button class="btn btn-success" type="submit">Create</button>
        <button class="btn btn-danger" type="reset">Reset</button>
        <button class="btn btn-primary" asp-action="Index">Back</button>
    </div>
</form>