@{ 
    ViewBag.Title = "Home Page";
}
<h2>Main</h2>
<a asp-controller="Brands" asp-action="Index">Brands</a>
<a asp-controller="Cars" asp-action="Index">Cars</a>
<a asp-controller="Customers" asp-action="Index">Customers</a>
<a asp-controller="Coupons" asp-action="Index">Coupons</a>
<a asp-controller="Reservations" asp-action="Index">Reservations</a>