@model CouponViewModel
@{
    ViewBag.Title = "Adding New Coupon";
}

<form asp-controller="Coupons" asp-action="Create" method="post">
    <div>
        <label asp-for="CouponCode">Code</label>
        <input asp-for="CouponCode" type="text" />
    </div>
    <div>
        <label asp-for="Discount">Discount</label>
        <input asp-for="Discount" type="number" />
    </div>
    <div>
        <input type="submit" value="Create" />
    </div>
</form>