@model CartViewModel
@{
    ViewBag.Title = "New Reservation";
}
<h2 class="h2">New Reservation</h2>
<hr />

<div class="row">
    <div class="col-md-6 mb-3">
        <label for="#" class="form-label fs-5">Car</label>
        <div class="input-group">
            <a class="btn btn-primary" asp-controller="Reservations" asp-action="SelectCar" formmethod="get">Select</a>
            <input class="form-control" asp-for="Car.Brand.Title" type="text" placeholder="Marque" readonly />
            <input class="form-control" asp-for="Car.ModelName" type="text" placeholder="Model" readonly />
            <input class="form-control" asp-for="Car.PricePerHour" type="text" placeholder="Price Per Hour" readonly />
            <span class="input-group-text">$</span>
        </div>
    </div>
    <div class="w-100"></div>
    <div class="col-md-6 mb-3">
        <label for="#" class="form-label fs-5">Customer</label>
        <div class="input-group">
            <a class="btn btn-primary" asp-controller="Reservations" asp-action="SelectCustomer" formmethod="get">Select</a>
            <input class="form-control" asp-for="Customer.FirstName" type="text" placeholder="First Name" readonly />
            <input class="form-control" asp-for="Customer.LastName" type="text" placeholder="Last Name" readonly />
            <input class="form-control" asp-for="Customer.PhoneNumber" type="text" placeholder="Phone Nubmer" readonly />
        </div>
    </div>
    <div class="w-100"></div>
    <form class="col-md-4 mb-3" asp-controller="Reservations" asp-action="GetCoupon" method="post">
        <label for="#" class="form-label fs-5">Coupon</label>
        <div class="input-group">
            <button class="btn btn-primary" type="submit">Apply</button>
            <input class="form-control" asp-for="Coupon.CouponCode" name="code" type="text" placeholder="Coupon Code" />
            <input class="form-control" asp-for="Coupon.Discount" type="text" placeholder="Discount" readonly />
            <span class="input-group-text">%</span>
        </div>
    </form>
    <div class="w-100"></div>
    <form asp-controller="Reservations" asp-action="Create" method="post">
        <input type="hidden" asp-for="Car.Id" />
        <input type="hidden" asp-for="Customer.Id" />
        <input type="hidden" asp-for="Coupon.Id" />
        <div class="col-md-3 mb-3">
            <label for="#" class="form-label fs-5">Start Date</label>
            <div class="input-group">
                <input class="form-control" asp-for="StartDate" type="datetime-local" value="@DateTime.Now" />
            </div>
        </div>
        <div class="w-100"></div>
        <div class="col-md-3 mb-3">
            <label for="#" class="form-label fs-5">Final Date</label>
            <div class="input-group">
                <input class="form-control" asp-for="FinalDate" type="datetime-local" />
            </div>
        </div>
        <div class="w-100"></div>
        @*<div class="col-md-3 mb-3">
            <label for="#" class="form-label fs-5">Total Price</label>
            <div class="input-group">
                <input class="form-control" asp-for="Price" type="text" placeholder="Total Price" readonly />
                <span class="input-group-text">$</span>
            </div>
        </div>*@
        <div class="w-100"></div>
        <div class="col-md-12">
            <button class="btn btn-success" type="submit">Create</button>
            <button class="btn btn-danger" type="reset">Reset</button>
            <button class="btn btn-primary" asp-action="Index">Back</button>
        </div>
    </form>
</div>